<div class="main">
    <div class="img-back" (click)="redirectToback()"><i class="bi bi-caret-left-fill"></i></div>
    <div class="section-picture">
        <div class="main-data">
            <label class="name">{{pokemon.name}}</label>
            <label>Peso: {{pokemon.weight}}kg</label>
            <label>Altura: {{pokemon.height}}m</label>
        </div>
        <img [src]="image">
    </div>
    <div class="section-stats">
        <span class="title-stats">ESTADÍSTICAS</span>
        <div class="stats-data">
            <div *ngFor="let item of stats">
                <label>{{item.stat.name}}</label>
                <div class="percentaje" [style.width.%]="item.base_stat"></div>
                <label>{{item.base_stat}}</label>
            </div>
        </div>
    </div>
</div>