.main{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    background-color: rgb(235, 235, 239);
    padding: 1.5rem 3rem;
}
.section-picture{
    display: flex;
    justify-content: space-between;
    img{
        width: 50%;
    }
}

.main-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    label{
        margin: 0.5rem;
    }
}
.name{
    font-size: 2rem;
    font-weight: bold;
}
.img-back{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img-back i{
    font-size: 40px;
}