main{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}

.container{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    gap: 2rem;
}

.card{
    background-color: rgb(252, 252, 252);
    height: 40vh;
    box-shadow: -1px 0px 18px 0px rgba(130,130,130,0.86);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, 	#507cbd 50%, #eeeaea 50%);
    img{
        width: 80%;
        background-color: #d7d7d7;
        border-radius: 50%;
        padding: 0.6rem;
    }
    label{
        font-size: 1.2rem;
        color:  #3466AF;
        font-weight: 500;
    }
}
.card:hover{
    cursor: pointer;
    transform: scale(1.05);
}